
.all{
   
    display: flex;
}



.container{
    width: 16%;
    min-height: 100vh;
    margin-bottom: 100px;
}
.foreign_middle{
    width: 1.2px;
    min-height: 100vh;
    background-color: #e5e5e5;
}